* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

/* Header Section Start */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1a1a1a;
  padding: 30px 20px;
}

.logo {
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.navbar-lists {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 10px;
}

/* Header Section End */
